@import '~@timescale/web-styles/src/styles/utils';

.btn {
  padding: 16px;
  max-width: 189px;
  width: 100%;
  @include body-copy(2);
  font-weight: 700;
  text-transform: uppercase;

  &__add-data {
    background: #ffffff;
    border: 2px solid #fdb515;
    box-sizing: border-box;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover {
      background: color($gold, 500);
      cursor: pointer;
    }
  }

  &__compress {
    background-color: color($gold);
    border: 2px solid #fdb515;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 0.3s;

    &:hover {
      background: color($gold, 500);
      cursor: pointer;
    }

    &--disabled {
      pointer-events: none;
      background-color: color($navy, 200);
    }
  }
}
